<h2>διαμόρφωσε το ταξίδι</h2>

<% if @trip.errors.any? %>
<h3> Kαταχώρηση απέτυχε! </h1>
<ul>
	<% @trip.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>	
</ul>
<% end %>

<%= form_for @trip do |t| %>
	<p>
		<%= t.label :Απο %> <br/>
		<%= t.text_field :departure %>
	</p>
	<p>
		<%= t.label :Προς %> <br/>
		<%= t.text_field :destination %>
	</p>
	<p>
		<%= t.label :Περιγραφή %> <br/>
		<%= t.text_area :description %>
	</p>
	<%= t.submit %>
<%end%>
<%= link_to 'Πίσω στην προβολή όλων', trips_path %>