<h2>ο οδηγός τάδε προσφέρει το παρακάτω ταξίδι:</h1>
<p>
	Από: <%= @trip.departure %>
</p>
<p>
	Προς: <%= @trip.destination %>
</p>
<p>
	Περιγραφή: <%= @trip.description %>
</p>
<%= link_to 'επεξεργασία', edit_trip_path(@trip) %> |
<%= link_to 'Πίσω στην προβολή όλων', trips_path %>